body {
    margin: 0;
}
.carousel{
    width: 100% ;
    overflow: scroll;
    padding:30px;
    position: relative;
}

.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom:10px;
}
.carousel__item{
    background-color: palevioletred;
    width: 190px;
    height: 240px;
    border-radius:25px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 100ms all;
    -moz-transform-origin: center left;
}
.carousel__item:hover ~ .carousel__item{
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover{
    transform: scale(1.5);
    opacity: 1;
    
}